* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: turquoise;
  padding: 8px;
  border-radius: 8px;
}
