@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(./images/background.svg);
  background-size: cover;
  background-position: center;
  padding: 88px 24px;
  font-family: "Poppins";
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 64px;
  align-items: center;
}

.left {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 327px;
}

.left > h1 {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.29px;
}

.left > p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 327px;
}

.try-it {
  border: none;
  padding: 18px 66px;
  border-radius: 10px;
  color: white;
  background-color: #5e54a4;
  font-size: 15px;
  letter-spacing: 0.26px;
  font-weight: 100;
  line-height: 26px;
  cursor: pointer;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);
  width: 100%;

  span {
    font-weight: 700;
  }
}

form {
  background-color: white;
  padding: 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);
}

.box {
  position: relative;
}

.error {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
}

input {
  padding: 15px 20px;
  border: 1px solid #dedede;
  border-radius: 5px;
  max-width: 279px;
  width: 100%;
  outline: none;
}

::placeholder {
  font-weight: 600;
}

.message {
  text-align: right;
  font-size: 11px;
  font-style: italic;
  color: #ff7979;
}

.free-trial {
  padding: 15px 45px;
  background-color: #38cc8b;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.terms {
  font-size: 11px;
  margin-top: 8px;
  color: #bab7d4;
  font-weight: 500;
  line-height: 21px;

  a {
    color: #ff7979;
    font-weight: 700;
    text-decoration: none;
  }
}

.hidden {
  display: none;
}
