* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;

  h2 {
    color: rgb(240, 93, 93);
    font-weight: 400;

    span {
      font-weight: bold;
      color: rgb(137, 93, 240);
    }
  }

  div {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  label {
    color: rgb(240, 93, 93);
    font-weight: 400;

    span {
      font-weight: bold;
      color: rgb(137, 93, 240);
    }
  }

  input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    padding: 5px;
    border: none;
    background-color: rgb(240, 93, 93);
    color: white;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: rgb(137, 93, 240);
    }
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #f2f2f2;
  padding: 10px;
  border: 5px solid rgb(240, 93, 93);
  border-radius: 10px;
  font-size: 12px;

  .card {
    background-color: rgb(235, 236, 162);
    color: rgb(240, 93, 93);
    padding: 10px;
    border-radius: 5px;
    width: 300px;

    h2 {
      font-weight: 400;

      span {
        font-weight: bold;
        color: rgb(137, 93, 240);
      }
    }

    button {
      padding: 5px;
      border: none;
      background-color: rgb(240, 93, 93);
      color: white;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 15px;

      &:hover {
        background-color: rgb(137, 93, 240);
      }
    }
  }
}
